{% extends '../../../template/Navigator_manage.html' %}

{% block css %}
<style>
    .text-center{
        "text-align:center;"
    }
</style>
{% endblock %}

{% block mainbody %}
<div class="container">
    <h1 class="center-block" style="text-align:center;">动漫集数管理系统</h1>
</div>
<div class="panel panel-default container">
    <div class="panel-body">
        <div>
            <a href="?add=true">
                <button type="button" class="btn btn-info">添加集数</button>
            </a>
        </div>
        <table class="table table-striped" style="margin-top:20px;">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">集数</th>
                <th class="text-center">视频url</th>
                <th class="text-center">管理</th>
            </tr>
            </thead>

            <tbody>
            {% for item in epi_list %}
            <tr>
                <th scope="row" class="id text-center"></th>
                <td class="text-center" id="episode">第{{ item.episode }}集</td>
                <td class="text-center">{{ item.episode_url }}</td>
                <td class="text-center">
                    <a href="?edit=true&mysql_id={{ item.id }}">
                        <button type="button" class="btn btn-default episode">编辑</button>
                    </a>
                    <button type="button" class="btn btn-default delete">删除</button>
                </td>
                <td class="hide mysql_id">{{ item.id }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}


{% block js %}
<script>
<!--这个是生成每一行的编号-->
var i = 0
$(".id").each(function(){
    i = i+1
    $(this).text(i)
});
</script>


<script>
<!--这个是删除按钮-->
$(".delete").click(function(){
    var tr = $(this).parent().parent();
    var mysql_id = tr.find(".mysql_id").text();

    $.ajax({
        url:"",
        type:"get",
        data:{
            mysql_id:mysql_id,
            delete:true
        },
        success:function(res){
            if(res.delete){
                tr.remove()
            }
        },
        datatype:"JSON",
    });
})
</script>
{% endblock %}