{% extends 'Navigator_Bar.html'%}

{% block mainbody %}
<div style="margin-top:20px;">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                频道区
            </div>
        </div>
    </div>
    <div class="col-md-2 hidden-xs hidden-sm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">频道分类</h3>
            </div>
            <div class="panel-body">
                <p>分类1</p>
                <p>分类2</p>
                <p>分类3</p>
                <p>分类4</p>
                <p>分类5</p>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">应该是广告</h3>
            </div>
            <div class="panel-body">
                <p>分类1</p>
                <p>分类2</p>
                <p>分类3</p>
                <p>分类4</p>
                <p>分类5</p>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-10">
        <div class="panel panel-default">

            <div class="panel-body">
                <h1>频道列表</h1>
                <hr>
                {% for item in form %}
                <div class="panel panel-default">
                    <a href="channel/{{ item.seq_num }}">
                        <div class="panel-body">
                            <div style="border-radius:5px;">
                                <div class="col-xs-2">
                                    <img src="/{{ item.image }}" alt="未找到图片" width="100%"
                                         style="border-radius:5px;">
                                </div>

                                <div class="col-xs-10">
                                    <h4 style="color:black; margin-top:5px;">{{ item.name }}</h4>
                                    <p style="color:black">
                                        作者：{{ item.auther }}
                                    </p>
                                    <p style="color:black">简介：{{ item.sign }}</p>
                                </div>

                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
<script>
    <!--导航栏聚焦-->
    $("#channel").addClass("active")
</script>
{% endblock %}