{% extends '../../../template/Navigator_manage.html' %}


{% block mainbody %}
<div class="panel panel-default container" style="padding:0px;">
    <div class="panel-heading" style="text-align:center;">
        <h3 class="panel-title">频道管理系统</h3>
    </div>
    <div class="panel-body">
        <div>
            <a href="?add=true">
                <button type="button" class="btn btn-info">添加频道</button>
            </a>
        </div>
        <table class="table table-striped" style="margin-top:20px;">
            <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">频道名称</th>
                <th class="text-center">作者</th>
                <th class="text-center">图片</th>
                <th class="text-center">序列号</th>
                <th class="text-center">管理</th>
            </tr>
            </thead>

            <tbody>
            {% for item in form %}
            <tr>
                <th scope="row" class="text-center"></th>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.auther }}</td>
                <td class="text-center">{{ item.image }}</td>
                <td class="text-center" id="seq_num">{{ item.seq_num }}</td>
                <td class="text-center">
                    <a href="?edit=true&seq_num={{ item.seq_num }}">
                        <button type="button" class="btn btn-default episode">编辑</button>
                    </a>
                    <button type="button" class="btn btn-default delete">删除</button>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $("#channel_list").addClass("active")


    <!--这个是删除按钮-->
    $(".delete").click(function(){
        var tr = $(this).parent().parent();
        var seq_num = tr.find("#seq_num").text();

        $.ajax({
            url:"",
            type:"get",
            data:{
                seq_num: seq_num,
                delete:true
            },
            success:function(res){
                if(res.delete){
                    tr.remove()
                }
            },
            datatype:"JSON",
        });
    })
</script>
{% endblock %}