{% extends 'Navigator_Bar.html'%}

{% block mainbody %}
<h1 class="container one-line" style="padding-bottom:10px; border-bottom:solid 1px rgb(90,90,90); margin-top:20px;">
    {{ ani_data.name }}
</h1>
<div class="container" style="margin-top:10px;">

    <div class="col-sm-2 col-xs-5 image" style="padding:0px;">
        <img src="{{ ani_data.image }}" alt="..." class="img-responsive center-block">
    </div>

    <div class="col-sm-10 col-xs-7">
        <h5>上映：{{ ani_data.released_time }}</h5>
        <h5>语言：{{ ani_data.language }}</h5>
        <h5>作者：{{ ani_data.auther }}</h5>
        <h5 id="serialize">连载：{{ ani_data.status }}</h5>
        <h5>地区：{{ ani_data.region }}</h5>
    </div>

</div>

<p class="container" style="border-top:solid 1px rgb(90,90,90); margin-top:10px; padding:10px;">
    简介：{{ ani_data.introduction }}
</p>

<div class="panel panel-default container" style="padding:0px; margin-top:50px;">
    <div class="panel-heading">
        <h3 class="panel-title">在线观看</h3>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" style="margin-bottom:10px; padding-left:10px; padding-right:10px;">
            <li role="presentation" id="1"><a href="./1">源1</a></li>
            <li role="presentation" id="2"><a href="./2">源2</a></li>
        </ul>

        <div class="container row" aria-label="...">
            <!--源如果激活，则显示-->
            {% for item in episodes %}
            <div class="col-md-1 col-sm-2 col-xs-4" style="padding:5px;">
                <a href="{{ now_source }}/video?episode={{ item.episode }}">
                    <button type="button" class="btn btn-default col-xs-12">{{ item.episode }}</button>
                </a>
            </div>
            {% endfor %}
        </div>

    </div>
</div>


{% endblock %}

{% block js %}
<script>
<!--更换连载显示-->
if( "{{ ani_data.status }}" == "True" ){
    $("#serialize").text("连载：连载中");
}else{
    $("#serialize").text("连载：已完结")
}

<!--为当前下面的源添加active-->
$("#{{ now_source }}").addClass("active")

<!--图片大小变化-->
var img_height = $(".image").width() / 3 * 4
$(".img-responsive").css({"height":img_height})








</script>
{% endblock %}